hardware/rx-pcb/power_harvester/~power_harvester.kicad_sch.lck
hardware/rx-pcb/power_harvester/~power_harvester.kicad_pro.lck
/hardware/rx-pcb/power_harvester/power_harvester-backups
hardware/rx-pcb/power_harvester/_autosave-power_harvester.kicad_sch
hardware/rx-pcb/power_harvester/~power_harvester.kicad_pcb.lck
simulations/voltage_double_rectifier.log
simulations/voltage_double_rectifier.op.raw
simulations/voltage_double_rectifier.plt
simulations/voltage_double_rectifier.raw


/hardware/tx-pcb/tx-pcb-backups
/hardware/rx-pcb/bluetooth_test/rx-pcb-backups
