hardware/rx-pcb/power_harvester/~power_harvester.kicad_sch.lck
hardware/rx-pcb/power_harvester/~power_harvester.kicad_pro.lck
/hardware/rx-pcb/power_harvester/power_harvester-backups
hardware/rx-pcb/power_harvester/_autosave-power_harvester.kicad_sch
